@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*

body{
    overflow-x: hidden;
}

/*INDEX*/
/*TIPOGRAFÍAS Y ESTILOS*/
.h2-beige{
    color: #C0B4A9;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h2-negro{
    color:#171717;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h2-terracota{
    color:#AD6140;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desk-subheading-h2-regular{
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desk-subheading-h2-medium{
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*Párrafos*/
p{
    color: #757575;
    text-align:justify;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /*word-wrap: break-word;*/
}

.p-negrita{
    color: #171717;
    text-align: justify;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*------------------------------------------------------------------------------------------------- */
/*Navbar*/
.navbar{
    background-color: #F0F0F0;
    display: flex;
    width: 100%;
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    order: 1;
    z-index: 1000;
}

.navbar-izquierda{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-izquierda li a{
    text-decoration: none;
    color: #9D9D9D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#navbar-activo{
    text-decoration: underline;
    color: #171717;
}

.navbar-derecha{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-derecha li a{
    text-decoration: none;
    text-decoration:none;
    color: #9D9D9D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*------------------------------------------------------------------------------------------------- */
/*Footer*/

.footer{
    display: flex;
    flex-direction: row;
    background-color: #171717;
    height: 147px;
    align-items: center;
    justify-content: space-between;
}

.buttons-footer{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 10%;
}

.logo-footer{
    margin-left: 10%;
}

.button-footer-instagram{
    background-color: #ffffff;
    color: #171717;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 20px;
    border: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-footer-facebook{
    background-color: #ffffff;
    color: #171717;
    font-family: Roboto;
    font-size:18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 20px;
    border: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-footer-contacto{
    background-color: #AD6140;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 20px;
    border: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*------------------------------------------------------------------------------------------------- */
/*INICIO*/
/*Sección 1*/

.s1-inicio{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 7.875rem;
}

.s1-inicio .s1-inicio-cards-y-fotos{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 534px 264px 487px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

/*Card y foto 1*/
.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 438px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: left;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 .logo-y-texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 .logo-y-texto img{
    width: 435px;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-1{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Card y foto 2*/
.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-2{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 410px;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-2{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/4;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-inicio .s1-inicio-cards-y-fotos .rayitas-beige-horizontal{
    position: absolute;
    right:110px;
    top: 180px;
}

/*Sección 2
Fondo beige card y dos fotos*/

.s2-inicio{
    background-color: #E9E7D6;  
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    margin-left: 10%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.s2-inicio .s2-inicio-card-y-fotos{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.s2-inicio .s2-inicio-card-y-fotos .s2-inicio-fotos{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.s2-inicio .s2-inicio-card-y-fotos .s2-inicio-card{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 17.5rem;
    margin-left: 6%;
}

.s2-inicio .rayitas-terracota-horizontal{
    position: absolute;
    left: 8%;
}

/*Sección 3
Card y foto*/
.s3-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 7.5rem;
}

.s3-inicio .s3-inicio-card-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 46.9375rem;
    column-gap: 1.5rem;
}

.s3-inicio .s3-inicio-card-y-foto .s3-inicio-card{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 363px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.s3-inicio .s3-inicio-card-y-foto .s3-inicio-foto{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

.s3-inicio .s3-inicio-card-y-foto .s3-inicio-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s3-inicio .s3-inicio-card-y-foto .rayitas-beige-horizontal{
    position:absolute;
    left:640px;
    top:2180px;
}

/*------------------------------------------------------------------------------------------------- */
/*SOBRE MÍ*/

/*Sección 1
Card y fotos*/

.s1-sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 7.875rem;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 625px 172px 620px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-card{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 492px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-2{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/4;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-3{
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-sobre-mi-card .span1{
    color: #3B838E;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.s1-sobre-mi-card .span2{
    color: #171717;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Sección 2
Texto*/

.s2-sobremi{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

/*Sección 3
Fotos y cards*/

.s3-sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-bottom: 7.5rem;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 709px 88px 709px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-1{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 492px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-1 span{
    color:#3B838E;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-2{
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 492px;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-2 .texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-2{
    display: flex;
    grid-column: 2/3;
    grid-row: 2/4;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*CURSOS
/*-------------------------------------------------------------------------------------------------
*/

/*COLECCIONES
/*-------------------------------------------------------------------------------------------------
*/

/*Sección 1
Texto*/

.s1-colecciones{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 14.125rem;
    margin-bottom: 7.875rem;
    justify-content: center;
}

.s1-colecciones .texto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.s1-colecciones .texto span{
    color: #3B838E;
}


/*Sección 2 | Colección-Terra
*/

.s2-colecciones-terra-1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
}

.s2-colecciones-terra-1 .s2-terra-card-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 48.4375rem;
    column-gap: 24px;
}

/*Terra-Card
*/
.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-card{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-right: 4.875rem;
}

.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-card .texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/*Terra-Foto
*/
.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-foto{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Terra-Carrousel (es otra seccion)
*/
.s2-colecciones-terra-2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 6.25rem;
}

.s2-colecciones-terra-2 .s2-terra-carrousel{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 1.5rem;
}

/*Terra-Fotos carrousel
*/
.s2-colecciones-terra-2 .s2-terra-carrousel .foto-1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-1 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-2{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-2 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-3{
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-3 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*Sección 3
Colección-Armonía*/

.s3-colecciones-armonia-1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
}

.s3-colecciones-armonia-1 .s3-armonia-card-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 48.4375rem;
    column-gap: 24px;
}

/*Armonia Card
*/
.s3-colecciones-armonia-1 .s3-armonia-card-y-foto .armonia-card{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-right: 4.875rem;
}

.s3-colecciones-armonia-1 .s3-armonia-card-y-foto .armonia-card .texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/*Armonia-Foto
*/
.s3-colecciones-armonia-1 .s3-armonia-card-y-foto .armonia-foto{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s3-colecciones-armonia-1 .s3-armonia-card-y-foto .armonia-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Armonia-Carrousel (es otra seccion)
*/
.s3-colecciones-armonia-2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 6.25rem;
}

.s3-colecciones-armonia-2 .s3-armonia-carrousel{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 1.5rem;
}

/*Armonia-Fotos carrousel
*/
.s3-colecciones-armonia-2 .s3-armonia-carrousel .foto-1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

.s3-colecciones-armonia-2 .s3-armonia-carrousel .foto-1 img{
    width: 100%;
    object-fit: cover;
}

.s3-colecciones-armonia-2 .s3-armonia-carrousel .foto-2{
    display: flex;
    grid-column: 2/4;
    grid-row: 1/2;
}

.s3-colecciones-armonia-2 .s3-armonia-carrousel .foto-2 img{
    width: 100%;
    object-fit: cover;
}

/*Sección 4 | Colección-Arce
*/

.s4-colecciones-arce-1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
}

.s4-colecciones-arce-1 .s4-arce-card-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 48.4375rem;
    column-gap: 24px;
}

/*Terra-Arce
*/
.s4-colecciones-arce-1 .s4-arce-card-y-foto .arce-card{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-right: 4.875rem;
}

.s4-colecciones-arce-1 .s4-arce-card-y-foto .arce-card .texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/*Arce-Foto
*/
.s4-colecciones-arce-1 .s4-arce-card-y-foto .arce-foto{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s4-colecciones-arce-1 .s4-arce-card-y-foto .arce-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Arce-Carrousel (es otra seccion)
*/
.s4-colecciones-arce-2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 7.5rem;
}

.s4-colecciones-arce-2 .s4-arce-carrousel{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 1.5rem;
}

/*Arce-Fotos carrousel
*/
.s4-colecciones-arce-2 .s4-arce-carrousel .foto-1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-1 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-2{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-2 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-3{
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-3 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*CURSOS
--------------------------------------------------------------------------------------------------- */

/*Sección 1-Introducción
Card y fotos*/
.s1-cursos-introduccion{
    background-color: #C0B4A9;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 7.875rem;
    padding-bottom: 6.25rem;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos{
    background-color: #f7f5f5;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 673px 66px 396px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

/*Card*/
.s1-cursos-introduccion .s1-cursos-card-y-fotos .s1-cursos-card{
    background-color: #d0e657;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 90%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self:center;
    justify-self: left;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .s1-cursos-card .texto{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

/*Fotos*/
.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-1{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-2{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/4;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-3{
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Sección 2-Cursos presenciales
*/
.s2-cursos-presenciales{
    background-color: #9D9D9D;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.s2-cursos-presenciales .titulo{
    background-color: #d0e657;
    width: 80%;
    margin-bottom: 3.125rem;
}

/*Cards*/
/* 
.s2-cursos-presenciales .card-taller-adultos{
    background-color: #e4aed2;
    width: 100%
    height: 624px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
} 

.card-taller-adultos .card{
    background-color: #cd326b;
    display: flex;
    flex-direction: row;
    width: 140%;
    justify-content: space-between;
    align-items: center;
}

.card-taller-adultos .card .texto-y-boton{
    background-color: #8cd25b;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 31.25rem;
    padding-left: 25%;
}

.card-taller-adultos .card .texto-y-boton .foto{
    position: absolute;
} */


/*---------------------------------------------------------------------------------------------------------------*/
/*BOTONES*/

.button-fondo-terracota{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #AD6140;
    padding: 20px;
    border: none;
}

.button-fondo-negro{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #171717;
    padding: 20px;
    border: none;
}

.button-fondo-verde{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #FFF;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #3B838E;
    padding: 20px;
    border: none;
}

.button-fondo-blanco{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #171717;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #ffffff;
    padding: 20px;
    border: none;
}

h1{
    color: #171717;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.s3-sobremi h2{
    color: #171717;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.s3-sobremi h2 span{
    color:#3B838E;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*H2*/

.h2-38-terracota{
    color:#AD6140;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.h2-38-negro{
    color:#171717;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.h2-38-beige{
    color:#C0B4A9;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.h2-38-verde{
    color:#3B838E;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}


/*
/*CONTACTO
.formulario-contacto{
    background-color:#E9E7D6;
}

/*Input nombre y email

.formulario-contacto .input input{
    background-color:#ffffff;
    display: flex;
    height: 64px;
    padding: 20px 320px 20px 20px;
    margin: 24px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border: none;
    color: #801818;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-message input{
    background-color:#ffffff;
    display: flex;
    height: 280px;
    padding: 20px 320px 20px 20px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    color: #681717;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.formulario-contacto .button-fondoverde{
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}*/