@charset "UTF-8";
/*1ero se llama a todo lo que corresponde a Utilities*/
/*2do se llama a todo lo que corresponde a Base*/
/*3ero se llama al layout*/
/*4to se llama a los componentes*/
/*SIEMPRE AL FINAL se llama a los media-query
Si estamos de desktop a mobile - DECRECIENTE
Si estamos de mobible a desktop - CRECIENTE */
/*UTILITIES*/
/*BASE*/
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/*TIPOGRAFÍAS Y ESTILOS*/
.h2-beige {
  color: #C0B4A9;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

.h2-negro {
  color: #171717;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

.h2-terracota {
  color: #AD6140;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

.desk-subheading-h2-regular {
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.desk-subheading-h2-medium {
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

/*Párrafos*/
p {
  color: #757575;
  text-align: justify;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*word-wrap: break-word;*/ }

.p-negrita {
  color: #171717;
  text-align: justify;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

/*------------------------*/
/*INICIO*/
/*Sección 1*/
.s1-inicio {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  max-width: 100%;
  padding-top: 7.875rem; }
  .s1-inicio .s1-inicio-cards-y-fotos {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 534px 264px 487px;
    column-gap: 1.5rem;
    row-gap: 1.5rem; }
    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 3.5rem;
      width: 438px;
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: left; }
