@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*

/*TIPOGRAFÍAS Y ESTILOS*/
.h2-beige{
    color: #C0B4A9;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h2-negro{
    color:#171717;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h2-terracota{
    color:#AD6140;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desk-subheading-h2-regular{
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desk-subheading-h2-medium{
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*Párrafos*/
p{
    color: #757575;
    text-align:justify;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /*word-wrap: break-word;*/
}

.p-negrita{
    color: #171717;
    text-align: justify;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*------------------------------------------------------------------------------------------------- */
/*NAVBAR*/
/* .navbar{
    background-color: #F0F0F0;
    display: flex;
    width: 100%;
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    order: 1;
    z-index: 1000;
} */

/* .navbar-izquierda{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-izquierda li a{
    text-decoration: none;
    color: #9D9D9D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#navbar-activo{
    text-decoration: underline;
    color: #171717;
}

.navbar-derecha{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-derecha li a{
    text-decoration: none;
    text-decoration:none;
    color: #9D9D9D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */

/*Navbar BOOTSTRAP*/
.navbar{
    background-color: #f0f0f0 !important;
    width: 100%;
    padding: 30px 10% !important;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    order: 1;
    z-index: 1000;
}

.navbar-toggler{
    padding: 4px;;
}

.navbar-toggler img{
    width: 30px;
    height: 30px;
}

.nav-item a{
    text-decoration: none;
    color: #9D9D9D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-item-active{
    text-decoration:underline;
    color: #171717;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Estilos para pantallas de 1024px y mayores */

@media (min-width: 1024px) {
    /* Oculta el botón del menú hamburguesa en pantallas grandes */
    .navbar-toggler {
    display: none;
    }
    
    /* Asegura que el menú colapsado esté visible en pantallas grandes */
    .navbar-collapse {
    display: flex;
    }
    
    /* Muestra los elementos de navegación en fila */
    .navbar-nav {
    flex-direction: row;
    }
    
    /* Alinea la lista de navegación de la izquierda a la izquierda */
    .left-nav {
    margin-right: auto; 
    }
    
    /* Alinea la lista de navegación de la derecha a la derecha */
    .right-nav {
    margin-left: auto;
    }
    }

  /* Estilos para pantallas menores a 1024px */

    @media (max-width: 1023.98px) {

    .navbar{
        background-color: #f0f0f0 !important;
        width: 100%;
        padding: 20px 10% !important;
        }

    /* Muestra el botón del menú hamburguesa en pantallas pequeñas */
    .navbar-toggler {
    display: block;
    margin-left: auto; /* Alinea el botón a la derecha */
    }
    
    /* Oculta el menú colapsado por defecto en pantallas pequeñas */
    .navbar-collapse {
    display: none;
    }
    
    /* Muestra el menú colapsado cuando se activa */
    .navbar-collapse.show {
    display: block;
    }
    
    /* Muestra los elementos de navegación en columna */
    .navbar-nav {
    flex-direction: column;
    }
    
    /* Asegura que ambas listas de navegación se muestren en una columna */
    .left-nav,
    .right-nav {
    display: block;
    }
    }


/*------------------------------------------------------------------------------------------------- */
/*FOOTER*/

.contenedor-footer{
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.buttons-footer{
    display: flex;
    align-items: center;
    gap: 24px;
}

.button-footer-instagram{
    background-color: #ffffff;
    color: #171717;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 20px;
    border: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-footer-facebook{
    background-color: #ffffff;
    color: #171717;
    font-family: Roboto;
    font-size:18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 20px;
    border: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-footer-contacto{
    background-color: #AD6140;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 20px;
    border: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*------------------------------------------------------------------------------------------------- */
/*INICIO*/
/*Sección 1*/

.s1-inicio{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    padding-top: 7.875rem;
}

.s1-inicio .s1-inicio-cards-y-fotos{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 534px 264px 487px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

/*Card y foto 1*/
.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3.5rem;
    width: 438px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: left;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 .logo-y-texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 .logo-y-texto img{
    width: 435px;
}

/*Foto 1*/
.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-1{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    position: relative;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-1 .foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.s1-inicio .s1-inicio-cards-y-fotos .rayitas-beige-horizontal{
    position: absolute;
    right:-5%;
    top: 8%;
}

/*Card y foto 2*/
.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-2{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 410px;
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-2{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/4;
}

.s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Sección 2
Fondo beige card y dos fotos*/

.s2-inicio{
    background-color: #E9E7D6;  
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    margin-left: 10%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.s2-inicio .s2-inicio-card-y-fotos{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.s2-inicio .s2-inicio-card-y-fotos .s2-inicio-fotos{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.s2-inicio .s2-inicio-card-y-fotos .s2-inicio-card{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 17.5rem;
    margin-left: 6%;
}

.s2-inicio .rayitas-terracota-horizontal{
    position: absolute;
    left: 8%;
}

/*Sección 3
Card y foto*/

.s3-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 7.5rem;
}

.s3-inicio .s3-inicio-card-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 46.9375rem;
    column-gap: 1.5rem;
}

.s3-inicio .s3-inicio-card-y-foto .s3-inicio-card{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 363px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.s3-inicio .s3-inicio-card-y-foto .s3-inicio-foto{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.s3-inicio .s3-inicio-card-y-foto .s3-inicio-foto .foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s3-inicio .s3-inicio-card-y-foto .rayitas-beige-horizontal{
    position:absolute;
    left: 95%;
    top: 8%;
}

/*------------------------------------------------------------------------------------------------- */
/*SOBRE MÍ*/

/*Sección 1
Card y fotos*/

.s1-sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 7.875rem;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 625px 172px 620px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-card{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 492px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    position: relative;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1 .rayitas-beige-horizontal{
    position: absolute;
    right:-5%;
    top: 8%;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-2{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/4;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-3{
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
}

.s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-sobre-mi-card .span1{
    color: #3B838E;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.s1-sobre-mi-card .span2{
    color: #171717;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Sección 2
Texto*/

.s2-sobremi{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

/*Sección 3
Fotos y cards*/

.s3-sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-bottom: 7.5rem;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 709px 88px 709px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    justify-items: center;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.875rem;
    width: 85%;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-1 span{
    color:#3B838E;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1 .rayitas-beige-horizontal{
    width: 51px;
    position:absolute;
    left: 95%;
    top: 6%;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-2{
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 492px;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-2 .texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-2{
    display: flex;
    grid-column: 2/3;
    grid-row: 2/4;
}

.s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*COLECCIONES
/*-------------------------------------------------------------------------------------------------
*/

/*Sección 1
Texto*/

.s1-colecciones{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 14.125rem;
    margin-bottom: 7.875rem;
    justify-content: center;
}

.s1-colecciones .texto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.s1-colecciones .texto span{
    color: #3B838E;
}


/*Sección 2 | Colección-Terra
*/

.s2-colecciones-terra-1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
}

.s2-colecciones-terra-1 .s2-terra-card-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 48.4375rem;
    column-gap: 24px;
}

/*Terra-Card
*/
.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-card{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-right: 4.875rem;
}

.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-card .texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}


/*Terra-Foto
*/
.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-foto{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}

.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s2-colecciones-terra-1 .s2-terra-card-y-foto .terra-foto .rayitas-gris-vertical{
    position: absolute;
    left: 20px;
    top: -25px;
}


/*Terra-Carrousel (es otra seccion)
*/
.s2-colecciones-terra-2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 6.25rem;
}

.s2-colecciones-terra-2 .s2-terra-carrousel{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 1.5rem;
}

/*Terra-Fotos carrousel
*/
.s2-colecciones-terra-2 .s2-terra-carrousel .foto-1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-1 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-2{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-2 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-3{
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
}

.s2-colecciones-terra-2 .s2-terra-carrousel .foto-3 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*Sección 3
Colección-Armonía*/

.s3-colecciones-armonia-1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
}

.s3-colecciones-armonia-1 .s3-armonia-card-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 48.4375rem;
    column-gap: 24px;
}

/*Armonia Card
*/
.s3-colecciones-armonia-1 .s3-armonia-card-y-foto .armonia-card{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-right: 4.875rem;
}

.s3-colecciones-armonia-1 .s3-armonia-card-y-foto .armonia-card .texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/*Armonia-Foto
*/
.s3-colecciones-armonia-1 .s3-armonia-card-y-foto .armonia-foto{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s3-colecciones-armonia-1 .s3-armonia-card-y-foto .armonia-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Armonia-Carrousel (es otra seccion)
*/
.s3-colecciones-armonia-2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 6.25rem;
}

.s3-colecciones-armonia-2 .s3-armonia-carrousel{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 1.5rem;
}

/*Armonia-Fotos carrousel
*/
.s3-colecciones-armonia-2 .s3-armonia-carrousel .foto-1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

.s3-colecciones-armonia-2 .s3-armonia-carrousel .foto-1 img{
    width: 100%;
    object-fit: cover;
}

.s3-colecciones-armonia-2 .s3-armonia-carrousel .foto-2{
    display: flex;
    grid-column: 2/4;
    grid-row: 1/2;
}

.s3-colecciones-armonia-2 .s3-armonia-carrousel .foto-2 img{
    width: 100%;
    object-fit: cover;
}

/*Sección 4 | Colección-Arce
*/

.s4-colecciones-arce-1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
}

.s4-colecciones-arce-1 .s4-arce-card-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 48.4375rem;
    column-gap: 24px;
}

/*Card-Arce
*/
.s4-colecciones-arce-1 .s4-arce-card-y-foto .arce-card{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-right: 4.875rem;
}

.s4-colecciones-arce-1 .s4-arce-card-y-foto .arce-card .texto{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/*Arce-Foto
*/
.s4-colecciones-arce-1 .s4-arce-card-y-foto .arce-foto.foto{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s4-colecciones-arce-1 .s4-arce-card-y-foto .arce-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Arce-Carrousel (es otra seccion)
*/
.s4-colecciones-arce-2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 7.5rem;
}

.s4-colecciones-arce-2 .s4-arce-carrousel{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 1.5rem;
}

/*Arce-Fotos carrousel
*/
.s4-colecciones-arce-2 .s4-arce-carrousel .foto-1{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-1 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-2{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-2 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-3{
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
}

.s4-colecciones-arce-2 .s4-arce-carrousel .foto-3 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*CURSOS
--------------------------------------------------------------------------------------------------- */

/*Sección 1-Introducción
Card y fotos*/
.s1-cursos-introduccion{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 7.875rem;
    padding-bottom: 6.25rem;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos{
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 673px 66px 396px;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

/*Card*/
.s1-cursos-introduccion .s1-cursos-card-y-fotos .s1-cursos-card{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 90%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self:center;
    justify-self: left;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .s1-cursos-card .texto{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

/*Fotos*/
.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-1{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-2{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/4;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-3{
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
}

.s1-cursos-introduccion .s1-cursos-card-y-fotos .foto-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Sección 2-CURSOS PRESENCIALES
*/
.s2-cursos-presenciales{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.s2-cursos-presenciales .titulo{
    background-color: #ffffff;
    width: 80%;
    margin-bottom: 3.125rem;
}

/*Cards cursos presenciales*/

/*Taller adultos*/
.taller-adultos{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 52% 12% 12% 14%;
    grid-template-rows: 80px 462px 80px;
    margin-bottom: 3.125rem;
}

.taller-adultos .fondo{
    background-color: #E9E7D6;
    display: flex;
    flex-direction: row;
    grid-row: 1/4;
    grid-column:1/4 ;
}

.taller-adultos .card{
    border-style: none;
    background: none;
    display: flex;
    flex-direction: row;
    grid-row: 2/3;
    grid-column: 2/5;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.taller-adultos .card .texto-y-boton{
    display: flex;
    flex-direction: column;
    width: 570px;
    gap: 3.5rem;
    padding-right: 50px;
    flex-wrap: wrap;
}

.taller-adultos .card .texto-y-boton .titulo{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.taller-adultos .card .texto-y-boton .lista{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.taller-adultos .card .texto-y-boton div p{
    color: #757575;
    text-align:justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Taller niños*/

.taller-niños{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 52% 12% 12% 14%;
    grid-template-rows: 80px 462px 80px;
    margin-bottom: 3.125rem;
}

.taller-niños .fondo{
    background-color: #E9E7D6;
    display: flex;
    flex-direction: row;
    grid-row: 1/4;
    grid-column:1/4 ;
}

.taller-niños .card{
    border-style: none;
    background: none;
    display: flex;
    flex-direction: row;
    grid-row: 2/3;
    grid-column: 2/5;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.taller-niños .card .texto-y-boton{
    display: flex;
    flex-direction: column;
    width: 570px;
    gap: 3.5rem;
    padding-right: 50px;
    flex-wrap: wrap;
}

.taller-niños .card .texto-y-boton .titulo{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.taller-niños .card .texto-y-boton .lista{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.taller-niños .card .texto-y-boton div p{
    color: #757575;
    text-align:justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Sección 2-CURSOS A DISTANCIA
*/
.s2-cursos-a-distancia{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.s2-cursos-a-distancia .descripcion{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.125rem;
    gap: 30px
}

/*Cards cursos a distancia
*/
/*Técnicas cerámicas*/
.tecnicas-ceramicas{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 52% 12% 12% 14%;
    grid-template-rows: 80px 462px 80px;
    margin-bottom: 3.125rem;
}

.tecnicas-ceramicas .fondo{
    background-color: #E9E7D6;
    display: flex;
    flex-direction: row;
    grid-row: 1/4;
    grid-column:1/4 ;
}

.tecnicas-ceramicas .card{
    border-style: none;
    background: none;
    display: flex;
    flex-direction: row;
    grid-row: 2/3;
    grid-column: 2/5;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.tecnicas-ceramicas .card .texto-y-boton{
    display: flex;
    flex-direction: column;
    width: 532px;
    gap: 3.5rem;
    padding-right: 50px;
    flex-wrap: wrap;
}

.tecnicas-ceramicas .card .texto-y-boton .titulo{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.tecnicas-ceramicas .card .texto-y-boton .lista{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.tecnicas-ceramicas .card .texto-y-boton div p{
    color: #757575;
    text-align:justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Esmaltes*/
.esmaltes{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 52% 12% 12% 14%;
    grid-template-rows: 80px 462px 80px;
    margin-bottom: 3.125rem;
}

.esmaltes .fondo{
    background-color: #E9E7D6;
    display: flex;
    flex-direction: row;
    grid-row: 1/4;
    grid-column:1/4 ;
}

.esmaltes .card{
    border-style: none;
    background: none;
    display: flex;
    flex-direction: row;
    grid-row: 2/3;
    grid-column: 2/5;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.esmaltes .card .texto-y-boton{
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 3.5rem;
    padding-right: 50px;
    flex-wrap: wrap;
}

.esmaltes .card .texto-y-boton .titulo{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.esmaltes .card .texto-y-boton .lista{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.esmaltes .card .texto-y-boton div p{
    color: #757575;
    text-align:justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Pastas*/
.pastas{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 52% 12% 12% 14%;
    grid-template-rows: 80px 462px 80px;
    margin-bottom: 7.5rem;
}

.pastas .fondo{
    background-color: #E9E7D6;
    display: flex;
    flex-direction: row;
    grid-row: 1/4;
    grid-column:1/4 ;
}

.pastas .card{
    border-style: none;
    background: none;
    display: flex;
    flex-direction: row;
    grid-row: 2/3;
    grid-column: 2/5;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.pastas .card .texto-y-boton{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 3.5rem;
    padding-right: 50px;
    flex-wrap: wrap;
}

.pastas .card .texto-y-boton .titulo{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.pastas .card .texto-y-boton .lista{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.pastas .card .texto-y-boton div p{
    color: #757575;
    text-align:justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*------------------------------------------------------------------------------------------------- */
/*CONTACTO*/
/*Sección 1-Formulario y foto*/

.s1-contacto{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 126px;
    margin-bottom: 100px;
}

.s1-contacto .formulario-y-foto{
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 54.875rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.s1-contacto .formulario-y-foto .titulo-y-formulario{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 1.875rem;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: end;
}

.titulo-y-formulario .formulario{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.titulo-y-formulario .formulario button{
    width:136px;
}

.titulo-y-formulario .formulario .inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #E9E7D6;
    align-items: end;
}

.formulario .inputs input{
    width: 100%;
    height: 64px;
    border-style: none;
    padding: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formulario .inputs textarea{
    width:100%;
    height: 280px;
    border-style: none;
    padding: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Foto*/
.s1-contacto .formulario-y-foto .foto{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}

.s1-contacto .formulario-y-foto .foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*---------------------------------------------------------------------------------------------------------------*/
/*BOTONES*/

.button-fondo-terracota{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #AD6140;
    padding: 20px;
    border: none;
}

.button-fondo-negro{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #171717;
    padding: 20px;
    border: none;
}

.button-fondo-verde{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #FFF;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #3B838E;
    padding: 20px;
    border: none;
}

.button-fondo-blanco{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #171717;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #ffffff;
    padding: 20px;
    border: none;
}

h1{
    color: #171717;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.s3-sobremi h2{
    color: #171717;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.s3-sobremi h2 span{
    color:#3B838E;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*H2*/

.h2-38-terracota{
    color:#AD6140;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.h2-38-negro{
    color:#171717;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.h2-38-beige{
    color:#C0B4A9;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.h2-38-verde{
    color:#3B838E;    
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}


/*-----------------------------------------------------------------------------------------------------*/
/*MEDIA QUERIES*/

@media (max-width:1024px){

    /*TIPOGRAFÍAS Y ESTILOS*/
    .h2-beige{
        font-size: 16px;
    }
    
    .h2-negro{
        font-size: 16px;
    }

    .h2-terracota{
        font-size: 16px;
    }
    
    /*H2*/

    .h2-38-terracota{
        font-size: 22px;
    }

    .h2-38-negro{
        font-size: 22px; 
    }

    .h2-38-beige{
        font-size: 22px;  
    }

    .h2-38-verde{
        font-size: 22px;
    }

    
    /*Párrafos*/
    p{
        font-size: 13px;
    }

    .p-negrita{
        color: #171717;
        text-align: justify;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

/*------------------------------------------------------------*/
    /*BOTONES*/

    button img{
        width: 1rem;
        height: 1rem;
    }

    .button-fondo-terracota{
        font-weight: 400;
        font-size: 16px;
        padding: 16px;
    }
    
    .button-fondo-negro{
        font-weight: 400;
        font-size: 16px;
        padding: 16px;
    }
    
    .button-fondo-verde{
        font-weight: 400;
        font-size: 16px;
        padding: 16px;
    }
    
    .button-fondo-blanco{
        font-weight: 500;
        font-size: 16px;
        padding: 16px;
    }


/*------------------------------------------------------------*/
    /*NAVBAR*/
    /* .navbar{
        background-color: #F0F0F0;
        display: flex;
        width: 100%;
        padding: 30px 6%;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        order: 1;
        z-index: 1000;
    }
    .navbar-izquierda li a{
        font-size: 16px;
    }

    .navbar-derecha li a{
        font-size: 16px;
    } */

/*------------------------------------------------------------*/
    /*FOOTER*/

    .contenedor-footer{
        width: 100%;
        background-color: #171717;
        display: flex;
        justify-content: center;
    }
    
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 88%;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
    
    .buttons-footer{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .logo-footer img{
        width: 117px;
    }

    .button-footer-instagram{
        font-size: 13px;
        padding: 10px;
    }

    .button-footer-facebook{
        font-size: 13px;
        padding: 10px;
    }

    .button-footer-contacto{
        font-size: 13px;
        padding: 10px;
    }


/*------------------------------------------------------------*/
    /*INICIO*/
    /*Sección 1*/

    .s1-inicio{
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        max-width: 100%;
        padding-top: 7.875rem;
    }
    
    .s1-inicio .s1-inicio-cards-y-fotos{
        width: 88%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 355px 74px 330px;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    
    /*Card y foto 1*/
    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 17.5625rem;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        /*justify-self: left;*/
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 .logo-y-texto{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 .logo-y-texto img{
        width: 281px;
    }

    /*Foto 1*/
    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-1{
        display: flex;
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/3;
        position: relative;
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-1 .foto img{
        min-width: 100%;
        object-fit: cover;
    }


    .s1-inicio .s1-inicio-cards-y-fotos .rayitas-beige-horizontal{
        position: absolute;
        right:-4%;
        top: 8%;
    }

    .rayitas-beige-horizontal img{
        width: 1.875rem;
    }

    /*Card y foto 2*/
    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-2{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 15.875rem;
        grid-column: 2/3;
        grid-row: 3/4;
        align-self: center;
        justify-self: center;
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-2{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Sección 2
    Fondo beige card y dos fotos*/

    .s2-inicio{
        background-color: #E9E7D6;  
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 6%;
        height: 15.8125rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .s2-inicio .s2-inicio-card-y-fotos{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .s2-inicio .s2-inicio-card-y-fotos .s2-inicio-fotos{
        display: flex;
        flex-direction: row;
        height: 70%;
        gap: 1rem;
    }

    .s2-inicio .s2-inicio-card-y-fotos .s2-inicio-card{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 13rem;
        margin-left: 6%;
    }

    .s2-inicio .rayitas-terracota-horizontal{
        position: absolute;
        left: 4%;
    }

    .rayitas-terracota-horizontal img{
        width: 1.875rem;
    }

    .s2-inicio .s2-inicio-card-y-fotos .s2-inicio-card .texto p{
        width: 178px;
    }


    /*Sección 3
    Card y foto*/

    .s3-inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-bottom: 3rem;
    }
    
    .s3-inicio .s3-inicio-card-y-foto{
        max-width: 88%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25.25rem;
        column-gap: 1rem;
    }
    
    .s3-inicio .s3-inicio-card-y-foto .s3-inicio-card{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 240px;
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
    }
    
    .s3-inicio .s3-inicio-card-y-foto .s3-inicio-foto{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;
    }
    
    .s3-inicio .s3-inicio-card-y-foto .s3-inicio-foto .foto img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .s3-inicio .s3-inicio-card-y-foto .rayitas-beige-horizontal{
        position:absolute;
        left: 95%;
        top: 8%;
    }
    

    /*------------------------------------------------------------------------------------------------- */
    /*SOBRE MÍ*/

    /*Sección 1
    Card y fotos*/

    .s1-sobre-mi{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding-top: 7.875rem;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos{
        max-width: 88%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 331px 98px 325px;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-card{
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        width: 280px;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
    }

    h1{
        color: #171717;    
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .s1-sobre-mi-card .span1{
        color: #3B838E;    
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .s1-sobre-mi-card .span2{
        color: #171717;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1{
        display: flex;
        grid-column: 2/3;
        grid-row: 1/3;
        position: relative;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1 .rayitas-beige-horizontal{
        width: 30px;
        position: absolute;
        right:-5%;
        top: 8%;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-2{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-3{
        display: flex;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Sección 2
    Texto*/

    .s2-sobremi{
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 6%;
        padding-right: 6%;
    }

    /*Sección 3
    Fotos y cards*/

    .s3-sobre-mi{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding-bottom: 40px;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos{
        max-width: 88%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 369px 60px 369px;
        column-gap: 1rem;
        row-gap: 1rem;
        justify-items: center;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.875rem;
        width: 271px;
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-1 span{
        color:#3B838E;    
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/3;
        position: relative;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1 .rayitas-beige-horizontal{
        width: 30px;
        position:absolute;
        left: 95%;
        top: 6%;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-2{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 271px;
        grid-column: 1/2;
        grid-row: 3/4;
        align-self: center;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-2 .texto{
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-2{
        display: flex;
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width:375px){
    /*TIPOGRAFÍAS Y ESTILOS*/
    .h2-beige{
        font-size: 14px;
    }
    
    .h2-negro{
        font-size: 14px;
    }

    .h2-terracota{
        font-size: 14px;
    }
    
    
    /*Párrafos*/
    p{
        font-size: 12px;
    }

/*------------------------------------------------------------*/
    /*FOOTER*/

    .contenedor-footer{
        width: 100%;
        background-color: #171717;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 88%;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
    
    .buttons-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .logo-footer img{
        width: 117px;
    }

    .button-footer-instagram{
        font-size: 12px;
        width: 75px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .button-footer-facebook{
        font-size: 12px;
        width: 75px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .button-footer-contacto{
        font-size: 12px;
        width: 75px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

/*------------------------------------------------------------*/
    /*BOTONES*/

    button img{
        width: .875rem;
        height: .875rem;
    }

    .button-fondo-terracota{
        font-weight: 400;
        font-size: 14px;
        padding: 14px;
    }
    
    .button-fondo-negro{
        font-weight: 400;
        font-size: 14px;
        padding: 14px;
    }
    
    .button-fondo-verde{
        font-weight: 400;
        font-size: 14px;
        padding: 14px;
    }
    
    .button-fondo-blanco{
        font-weight: 500;
        font-size: 14px;
        padding: 14px;
    }

    
/*------------------------------------------------------------*/
    /*INICIO*/
    /*Sección 1*/

    .s1-inicio{
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        max-width: 100%;
        padding-top: 7.5rem;
        padding-bottom: 0;

    }
    
    .s1-inicio .s1-inicio-cards-y-fotos{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 210px 406px 162px 384px;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    
    /*Card y foto 1*/
    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        /*justify-self: left;*/
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 .logo-y-texto{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-1 .logo-y-texto img{
        width: 288px;
    }

    /*Foto 1*/
    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-1{
        display: flex;
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-1 .foto img{
        min-width: 100%;
        object-fit: cover;
    }


    .s1-inicio .s1-inicio-cards-y-fotos .rayitas-beige-horizontal{
        position: absolute;
        right:4%;
        top: -2%;
    }

    .rayitas-beige-horizontal img{
        width: 1.875rem;
        transform: rotate(90deg);
    }

    /*Card y foto 2*/
    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-card-2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 288px;
        grid-column: 1/2;
        grid-row: 3/4;
        align-self: center;
        justify-self: left;
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-2{
        display: flex;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .s1-inicio .s1-inicio-cards-y-fotos .s1-inicio-foto-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Sección 2
    Fondo beige card y dos fotos*/
    .s2-inicio{
        background-color: #E9E7D6;  
        max-width: 100%;
        margin-left: 0%;
        height: 400px;        
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    
    .s2-inicio .s2-inicio-card-y-fotos{
        display: flex;
        max-width: 100%;
        height: auto;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 2.5rem;
        padding-bottom: 40px;
        justify-content: center;
    }

    .s2-inicio .s2-inicio-card-y-fotos .s2-inicio-card{
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 17.5rem;
    }
    
    .s2-inicio .s2-inicio-card-y-fotos .s2-inicio-card .texto p{
        width: 90%;
    }    

    .s2-inicio .s2-inicio-card-y-fotos .s2-inicio-fotos{
        max-width: 50%;
        display: flex;
        flex-direction: row;
        object-fit: contain;
    }
    
    .s2-inicio .s2-inicio-card-y-fotos .s2-inicio-fotos img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .s2-inicio .rayitas-terracota-horizontal{
        visibility: hidden;
    }
    
    
    /*Sección 3
    Card y foto*/

    .s3-inicio{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-bottom: 16px;
    }
    
    .s3-inicio .s3-inicio-card-y-foto{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 108px 384px ;
        row-gap: 1rem;
    }
    
    .s3-inicio .s3-inicio-card-y-foto .s3-inicio-card{
        border-style: .0625rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
        margin-bottom: 16px;
    }

    .s3-inicio .s3-inicio-card-y-foto .s3-inicio-card p{
        text-align: left;
    }
    
    .s3-inicio .s3-inicio-card-y-foto .s3-inicio-foto{
        width: 100%;
        display: flex;
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
    }

    .s3-inicio .s3-inicio-card-y-foto .s3-inicio-foto .foto img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .s3-inicio .s3-inicio-card-y-foto .rayitas-beige-horizontal{
        position:absolute;
        left: 85%;
        top: -3%;
    }

    .s3-inicio .s3-inicio-card-y-foto .rayitas-beige-horizontal img{
        width: 1.875rem;
        transform: rotate(90deg);
    }

    /*------------------------------------------------------------------------------------------------- */
    /*SOBRE MÍ*/

    /*Sección 1
    Card y fotos*/

    .s1-sobre-mi{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding-top: 7.875rem;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos{
        max-width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 220px 407px 401px;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-card{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 280px;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
    }

    h1{
        color: #171717;    
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .s1-sobre-mi-card .span1{
        color: #3B838E;    
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .s1-sobre-mi-card .span2{
        color: #171717;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-1 .rayitas-beige-horizontal{
        visibility: hidden;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-2{
        display: flex;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-3{
        display: flex;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .s1-sobre-mi .s1-sobre-mi-cards-y-fotos .s1-sobre-mi-foto-3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Sección 2
    Texto*/

    .s2-sobremi{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 6%;
        padding-right: 6%;
    }

    /*Sección 3
    Fotos y cards*/

    .s3-sobre-mi{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos{
        max-width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 252px 410px 265px 423px;
        row-gap: 1rem;
        justify-items: center;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-1{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 288px;
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-1 span{
        color:#3B838E;    
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-1 .rayitas-beige-horizontal{
        visibility: hidden;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-2{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 288px;
        grid-column: 1/2;
        grid-row: 3/4;
        align-self: center;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-card-2 .texto{
        gap: 0;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-2{
        display: flex;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .s3-sobre-mi .s3-sobre-mi-cards-y-fotos .s3-sobre-mi-foto-2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}