/*MEDIA QUERY*/
/*min-width 768px and max-width 1023px*/

/*main-contacto*/

@media (min-width: 768px) and (max-width: 1023px){
    /*Sección 1--------------------------*/
    /*Formulario y foto*/
    .s1-contacto{
        @include flex-contenedor;
        margin-top: 7.875rem;
        margin-bottom: 5rem;
        .formulario-y-foto{
            @include grid-column-1024;
            grid-template-rows: 29.375rem 19.75rem;
            row-gap: 1rem;
            .titulo-y-formulario{
                display: flex;
                flex-direction: column;
                padding-top: 100px;
                gap: 1rem;
                grid-column: 1/2;
                grid-row: 1/2;
                justify-content: end;
                .titulo span{
                    color:map-get($colors , color-terracota );
                }
                .formulario{
                    display: flex;
                    flex-direction: column;
                    gap: 1;
                    .inputs{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 1rem;
                        padding-left: 32px;
                        padding-right: 32px;
                        padding-top: 32px;
                        padding-bottom: 32px;
                        background-color:map-get($colors , color-beige);
                        align-items: end;
                        input{
                            width: 100%;
                            height: 47px;
                            border-style: none;
                            padding: 20px;
                            font-family: Roboto;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        textarea{
                            width:100%;
                            height: 144px;
                            border-style: none;
                            padding: 20px;
                            font-family: Roboto;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
            .foto{
                display: flex;
                grid-column: 2/3;
                grid-row: 1/2;
                img{
                    @include img-cover;
                }
            }
            .foto-2{
                display: flex;
                grid-column: 1/2;
                grid-row: 2/3;
                img{
                    @include img-cover;
                }
            }
            .foto-3{
                display: flex;
                grid-column:2/3;
                grid-row: 2/3;
                img{
                    @include img-cover;
                }
            }
        }
    }

    /*Sección 2--------------------------*/
    .s2-contacto{
        @include flex-contenedor;
        margin-bottom: 3.75rem;
        .texto-y-botones{
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            .texto{
                .h3-medium{
                    font-size: 14px;
                }
                margin-left: 20px;
                display: flex;
                .texto-contacto{
                    font-weight:450;
                }
            }  
            .botones{
                display: flex;
                flex-direction: row;
                gap: 14px;
            }          
        }
    }
}