/*MEDIA QUERY*/
/*min-width 768px - max-width 1023px*/

/*main-index*/
@media (min-width: 768px) and (max-width: 1023px){
    /*Sección 1*/
    .s1-inicio{
        .s1-inicio-cards-y-fotos{
            @include grid-column-1024;
            grid-template-rows: 355px 74px 330px;
            row-gap: 1rem;
            .s1-inicio-card-1{          
                gap: 2rem;
                width: 17.5625rem;
                .logo-y-texto{
                    gap: 1.5rem;
                    img{
                        width: 281px;
                    }
                }
            }
            .s1-inicio-foto-1{
                display: flex;
                grid-column: 2/3;
                grid-row: 1/3;
                position: relative;
                img{
                    @include img-cover;
                    max-width: 443px;
                }
                .rayitas-beige-horizontal{
                    img{
                        width:1.875rem;
                    }
                    right:-4%;
                }            
            }
            .s1-inicio-card-2{       
                gap: 2rem;
                width:15.875rem;
            }
        }
    }

    /*Sección 2*/
    .s2-inicio{
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 6%;
        height: 15.8125rem;
        .s2-inicio-card-y-fotos{
            .rayitas-terracota-horizontal{
                left: 4%;                 
                img{
                    width: 1.875rem;
                }
            }        
            .s2-inicio-fotos{
                height: 70%;
                gap: 1rem;
            }
            .s2-inicio-card{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 13rem;
                margin-left: 6%;
            }
        }
    }
    /*Sección 3*/
    .s3-inicio{
        @include flex-contenedor;
        margin-bottom: 3rem;
        .s3-inicio-card-y-foto{
            @include grid-column-1024;
            grid-template-rows: 100%;
            .s3-inicio-card{
                gap: 2rem;
                width: 240px;
            }
            .s3-inicio-foto{   
                .rayitas-beige-horizontal{
                    position:absolute;
                    left: 95%;
                    top: 8%;
                    img{
                        width: 1.875rem;
                    }
                }            
            }    
        }
    }
}
