/*COLORES*/
$colors:(
    color-verde:#3B838E,
    color-negro:#171717,
    color-terracota:#AD6140,
    color-beige:#E9E7D6,
    color-arena:#C0B4A9,
    color-gris:#757575,
    color-blanco: #FFFFFF,
);

/*TIPOGRAFÍAS*/
$font-size:(
    treintayocho:2.375rem,
    veinticinco:1.5625rem,
    veintidos:1.375rem,
    veinte:1.25rem,
    dieciocho:1.125rem,
    dieciseis:1rem,
    catorce:.875rem,
    trece:.8125rem,
    doce:.75rem,
    diez:.625rem,
);

$font-weight:(
    doscientos:200,
    cuatrocientos:400,
    quinientos:500,
    seiscientos:600,
    setecientos:700,
    ochocientos:800,
    novecientos:900,
);

$grid-gap:(
    veinticuatro:1.5rem,
    dieciseis:1rem,
);

