/*FOOTER*/
.contenedor-footer{
    position: relative;
    bottom: 0px;
    @include flex-contenedor;
    background-color: map-get($colors , color-negro);
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
        .buttons-footer{
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
}

