/*BOTONES*/
.button-fondo-negro{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    line-height: normal;   
    font-weight: 500;
    background-color:map-get($colors , color-negro);
    padding: 20px;
    border: none;
    &:hover {
        transform: scale(1.06);
        background-color: #806d5c; 
        border-radius: 6px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); 
        transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease; // Transiciones suaves
    }
}


.button-fondo-terracota{
    @extend .button-fondo-negro;
    background-color: #AD6140;
    &:hover{
        background-color: #9e5739; 
    }
}

.button-fondo-verde{
    @extend .button-fondo-negro;
    background-color: #3B838E;
    &:hover{
        background-color: #245d66; 
    }
}

.button-fondo-blanco{
    @extend .button-fondo-negro;
    background-color:map-get($colors , color-blanco);
    color: map-get($colors , color-negro);
    &:hover{
        background-color: #ffffff; 
    }
}

/*BOTONES FOOTER*/
.button-footer-instagram{
    font-family: Roboto;
    font-size: map-get($font-size , dieciocho);
    font-weight: 500;    
    font-style: normal;
    line-height: normal;    
    display: inline-flex;
    padding: 20px;
    border: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: map-get($colors , color-blanco);
    color: map-get($colors , color-negro);
    &:hover {
        transform: scale(1.06);
        background-color: #ffffff; 
        border-radius: 6px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); 
        transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease; // Transiciones suaves
    }
}

.button-footer-facebook{
    @extend .button-footer-instagram;
}

.button-footer-contacto{
    @extend .button-footer-instagram;
    background-color:map-get($colors , color-terracota);
    color: map-get($colors , color-blanco);
    &:hover{
        background-color: #9e5739; 
    }
}

/*BOTÓN FACEBOOK CONTACTO*/
.s2-contacto{
    .texto-y-botones{
        .botones{
            .boton-contacto-facebook{
                .button-fondo-negro{
                    &:hover{
                        background-color: #000000; 
                    }
                }
            }
        }
    }
}